.search {
    position: relative;
    border-radius: 2.5em;
    margin-top: 50px;
    left: 50%;
    font-size: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.inputName {
    font-size: 20px;
    border: 2px solid rgb(76, 57, 158);
    border-radius: 10px;
    width: 100%;
    height: 30px;
    padding: 5px 5px;
    box-sizing: border-box;
}

.inputName:hover,
.inputName:focus {
    border: 2px solid rgb(85, 47, 167);
    transition: border 0.2s;
}